.wrapper{
    margin: 0 auto;
    width:400px;
}

.header{
    background-color: #141f40;
    height: 100px;
}

.left{
    background-color: #80bfa8;
    float: left;
    width: 150px;
    height: 250px;
}

.right{
    background-color: #8c2727;
    float: left;
    width: 250px;
    height: 250px;
}

.clearfix::after{
    content: "";
    display: block;
    clear:both;
}



.footer{
    background-color: #d98d30;
    height: 100px;
}

@media screen and (max-width: 767px){

    .header {
        width:250px;
    }

    .right {
        width: 100px !important;
        height: 250px;
    }

    .footer {
        width: 250px;
    }
}

@media screen and (max-width: 400px){

    .header {
        width:150px;
    }

    .left{
        width:150px;
        float: none;
    }

    .right {
        width: 150px;
        float: none;
    }

    .footer {
        width: 150px;
    }
}